*
!sessions
!sessions/empty
!.gitignore
!tests
!tests/empty
!cache
!cache/persistent
!cache/persistent/myapp_cake_core_file_map
!cache/persistent/myapp_cake_core_method_cache
!cache/persistent/empty
!cache/views
!cache/views/empty
!cache/models
!cache/models/myapp_cake_model_default_chat_development_rooms
!cache/models/myapp_cake_model_default_chat_development_messages
!cache/models/empty
!cache/models/myapp_cake_model_default_chat_development_list
!logs
!logs/error.log
!logs/empty
